parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    stubFiles:
        - phpstan-wordpress.stub
