.DS_Store

.idea/
.vscode/

node_modules/
npm-debug.log*

vendor/

.env
.env.*
!.env.example

/.local/

.packages/*
!.packages/.gitkeep

/web/*
!/web/wp-content/

/web/wp-content/*
!/web/wp-content/plugins/

/web/wp-content/plugins/*
!/web/wp-content/plugins/biblio-core/
!/web/wp-content/plugins/biblio-core/**

/config/elementor/*.local.*
/config/jetengine/*.local.*

/web/wp-content/plugins/biblio-core/vendor/

/web/wp-content/plugins/biblio-core/.phpunit.cache/
